section{
    width: 80%;
    margin: auto;
    margin-top: 5%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
}

.cards{
    width: 250px;
    padding: 20px;
}
.cards:hover{
    box-shadow: 0 10px 10px 10px rgba(0,0,0,0.1);
    cursor: pointer;
}
.image_box img{
    width: 150px;
    height: 200px;
}
.details p:nth-child(1){
    font-weight: bold;
}
.details p:nth-child(2){
    color: grey;
    font-size: 0.8rem;
}
.details p:nth-child(3){
    font-weight: bold;
    color: grey;
}
.details button{
    padding: 5px 10px;
    border: none;
    font-weight: bold;
    background-color: rgb(255,223,0);
    outline: none;
    border-radius: 2px;
    cursor: pointer;
}

@media (max-width: 768px) {
    section {
        grid-template-columns: repeat(1, 1fr); /* Display cards in a single column */
        gap: 10px; /* Reduce the gap between cards */
    }

    .cards {
        width: 100%; /* Take full width of the container */
    }

    .image_box img {
        width: 100%; /* Make images fill the card width */
        height: auto; /* Allow images to adjust their height */
    }
}